body {
  background-color: #ebebeb;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 5px 100px;
  align-items: center;
  border-bottom: 1px solid #999596;
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 46px;
  color: #5e5d5d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  margin-left: 110px;
  border: none;
  background-color: #cfcfcf;
}

.btn-login,
.btn-sign2 {
  width: 140px;
  height: 46px;
  padding: 16px 20px;
  background-color: #8a33fd;
  color: #fff;
  border-radius: 8px;
  border: none;
  transition: 0.5s;
}

.btn-sign {
  width: 140px;
  height: 46px;
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid #5e5d5d;
}

.img-1 {
  margin-left: 5px;
}

.main-img {
  display: flex;
  margin-left: 15px;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-left: 40px;
  margin-top: 10px;
  color: #006df0;
}

.sign input {
  width: 100%;
  padding: 16px 20px;
}

.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  padding: 16px;
  color: #47acdf;
  font-weight: 700;
}

.btn-twitter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  padding: 16px 20px;
  color: #47acdf;
  font-weight: 700;
}

.btn-google p,
.btn-twitter p {
  margin-left: 8px;
}

.or {
  margin: 50px;
}

.sign input {
  margin-bottom: 60px;
}

.a-login {
  text-decoration: none;
  color: #fff;
}

.btn-login:hover,
.btn-sign2:hover {
  background-color: #974cfa;
}
