.slider-2 {
  width: 100%;
  height: 200px;
}

.slider-2 div {
  width: 100%;
  height: 200px;
}

.slider1 {
  background-position: center;
  background-size: cover;
  background-image: url("../../static/img/img-slide/pexels-bogdan-glisik-1661471.jpg");
  position: relative;
}

.slider2 {
  background-position: top;
  background-size: cover;
  background-image: url("../../static/img/img-slide/pexels-thiago-nakano-16999150.jpg");
  position: relative;
}

.slider3 {
  background-position: top;
  background-size: cover;
  background-image: url("../../static/img/img-slide/pexels-victoria-rain-16969437.jpg");
  position: relative;
}

.slider4 {
  background-position: top;
  background-size: cover;
  background-image: url("../../static/img/img-slide/pexels-marcelo-dias-2010877.jpg");
}

.slider5 {
  background-position: center;
  background-size: cover;
  background-image: url("../../static/img/img-slide/pexels-jhefferson-santos-3078404.jpg");
  position: relative;
}

.slider6 {
  background-position: top;
  background-size: cover;
  background-image: url("../../static/img/img-slide/pexels-criativithy-1805411.jpg");
  position: relative;
}
